@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.open-animation {
  animation: openanimation 1s;
}

@keyframes openanimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.compare-registate::before {
  content: url('../assets/images/Stars.png');
  position: absolute;
  right: -2rem;
  top: -3rem;
  -webkit-animation: breathing 3s ease-out infinite normal;
  animation: breathing 3s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}

.last-row {
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  60% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hero-section {
  background-image: url('../assets/images/hero-background.jpg');
  background-size: cover;
}

.faq-background { 
  background-image: url('../assets/images/faq-background.webp');
  background-size: cover;
}

.how-to-get-started:hover .text-on {
  color: rgba(255, 255, 255, 0.49);
}

.how-to-get-started:hover .btn-on {
  color: white;
}

@media only screen and (min-width: 1024px) {
  .slick-initialized .slick-slide {
    padding: 0 7px;
  }

  .founders .slick-arrow.slick-prev.slick-disabled {
    background-image: url('../assets/images/reverse-line.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    border: 1px solid #C8C8C8;
    border-radius: 100%;
    padding: 30px;
    rotate: 180deg;
    left: -30rem;
    top: auto;
    bottom: 3rem;
    background-color: transparent;
  }

  .founders .slick-arrow.slick-prev {
    background-image: url('../assets/images/line.png');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    border: 1px solid #C8C8C8;
    border-radius: 100%;
    padding: 30px;
    rotate: 180deg;
    left: -30rem;
    top: auto;
    bottom: 3rem;
    background-color: #1649FF;
  }

  .founders .slick-arrow.slick-next.slick-disabled {
    right: auto;
    left: -35rem;
    top: auto;
    bottom: -1rem;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url('../assets/images/reverse-line.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    border: 1px solid #C8C8C8;
    border-radius: 100%;
    padding: 30px;
    background-color: transparent;
  }

  .founders .slick-arrow.slick-next {
    right: auto;
    left: -35rem;
    top: auto;
    bottom: -1rem;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url('../assets/images/line.png');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    border: 1px solid #C8C8C8;
    border-radius: 100%;
    padding: 30px;
    background-color: #1649FF;
  }

  .rocket-animation {
    transform: translate(5rem, 3%);
    animation-duration: 6s;
    animation-name: rocket;
  }

}

.after-formation .slick-next {
  right: auto;
  left: -7rem;
}

.after-formation .slick-next:before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('../assets/images/line.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #1649FF;
  opacity: 1;
  border: 1px solid white;
  border-radius: 100%;
  padding: 30px;
}

.after-formation .slick-prev {
  display: none !important;
}

.founders .slick-next:before {
  content: "";
}

.slick-prev:before {
  content: '';
}

.not-sure::before {
  content: 'Recommended';
  position: absolute;
  top: -1rem;
  right: 1rem;
  background-color: #1649FF;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.founders-section .slick-list {
  overflow: visible !important;
  clip-path: inset(-100vw -100vw -100vw 0);
  margin: 0 75px 0 0;
} 

.founders .slick-slide {
  padding: 0 10px 0 0;
}

.founders .slick-arrow.slick-prev {
  background-image: url('../assets/images/line.png');
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  border: 1px solid #C8C8C8;
  border-radius: 100%;
  padding: 25px;
  rotate: 180deg;
  right: 0;
  top: -6.5rem;
  left: auto;
  background-color: #1649FF;
}

.founders .slick-arrow.slick-next {
  right: 4rem;
  left: auto;
  top: -3.2rem;
  background-image: url('../assets/images/line.png');
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  border: 1px solid #C8C8C8;
  border-radius: 100%;
  padding: 25px;
  background-color: #1649FF;
}

.founders .slick-arrow.slick-next.slick-disabled {
  right: 4rem;
  left: auto;
  top: -3.2rem;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('../assets/images/reverse-line.svg');
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  border: 1px solid #C8C8C8;
  border-radius: 100%;
  padding: 25px;
  background-color: transparent;
}

.founders .slick-arrow.slick-prev.slick-disabled {
  background-image: url('../assets/images/reverse-line.svg');
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  border: 1px solid #C8C8C8;
  border-radius: 100%;
  padding: 25px;
  rotate: 180deg;
  left: auto;
  top: -6.5rem;
  right: 0;
  background-color: transparent;
}

.company-type {
  background-image: url('../assets/images/choose-bg.png');
  background-size: cover;
  min-height: 100vh;
}

.wyoming::before {
  content: 'Recommended for LLC';
  position: absolute;
  top: -1rem;
  right: 1rem;
  background-color: #1649FF;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.delaware::before {
  content: 'Recommended for Corporation';
  position: absolute;
  top: -1rem;
  right: 1rem;
  background-color: #1649FF;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}




@keyframes rocket {
  from {
    transform: translate(45rem, 20%);
  }

  to {
    transform: translate(5rem, 3%);
    right: 0;

  }
}

.peru {
  animation: bounce-blur 8s ease-in-out infinite;
}

@keyframes bounce-blur {
  0% {
    transform: translateY(0);

  }

  50% {
    transform: translateY(-7px);
    filter: blur(1.5px);
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

.canada {
  animation: bounce-blur2 8s ease-in-out infinite;
}

@keyframes bounce-blur2 {
  0% {
    transform: translateY(-10px);
    filter: blur(1.5px);
  }

  50% {
    transform: translateY(10px);
    filter: blur(0);
  }

  100% {
    transform: translateY(-10px);
    filter: blur(1.5px);
  }
}

.usa {
  animation: bounce-blur3 8s ease-in-out infinite;
}

@keyframes bounce-blur3 {
  0% {
    transform: translateY(10px);
    filter: blur(1.5px);
  }

  50% {
    transform: translateY(-5px);
    filter: blur(0);
  }

  100% {
    transform: translateY(10px);
    filter: blur(1.5px);
  }
}

.mexico {
  animation: bounce-blur4 8s ease-in-out infinite;
}

@keyframes bounce-blur4 {
  0% {
    transform: translateY(-10px);
    filter: blur(0px);
  }

  50% {
    transform: translateY(10px);
    filter: blur(1.5px);
  }

  100% {
    transform: translateY(-10px);
    filter: blur(0px);
  }
}

.argentina {
  animation: bounce-blur5 8s ease-in-out infinite;
}

@keyframes bounce-blur5 {
  0% {
    transform: translateY(0);

  }

  50% {
    transform: translateY(-10px);
    filter: blur(1.5px);
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

.brazil {
  animation: bounce-blur6 8s ease-in-out infinite;
}

@keyframes bounce-blur6 {
  0% {
    transform: translateY(-10px);
    filter: blur(1.5px);
  }

  50% {
    transform: translateY(7px);
    filter: blur(0);
  }

  100% {
    transform: translateY(-10px);
    filter: blur(1.5px);
  }
}

.iceland {
  animation: bounce-blur7 8s ease-in-out infinite;
}

@keyframes bounce-blur7 {
  0% {
    filter: blur(0);
  }

  50% {
    filter: blur(1.5px);
  }

  100% {
    filter: blur(0);
  }
}

.portugal {
  animation: bounce-blur8 8s ease-in-out infinite;
}

@keyframes bounce-blur8 {
  0% {
    transform: translateY(0);

  }

  50% {
    transform: translateY(-10px);
    filter: blur(1.5px);
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

.spain {
  animation: bounce-blur9 8s ease-in-out infinite;
}

@keyframes bounce-blur9 {
  0% {
    transform: translateY(0);
    filter: blur(1.5px);
  }

  50% {
    transform: translateY(7px);
    filter: blur(0);
  }

  100% {
    transform: translateY(0);
    filter: blur(1.5px);
  }
}

.france {
  animation: bounce-blur10 8s ease-in-out infinite;
}

@keyframes bounce-blur10 {
  0% {
    transform: translateY(0);
    filter: blur(0);
  }

  50% {
    filter: blur(1.5px);
    transform: translateY(3px);
  }

  100% {
    filter: blur(0);
    transform: translateY(0);
  }
}

.italy {
  animation: bounce-blur11 8s ease-in-out infinite;
}

@keyframes bounce-blur11 {
  0% {
    transform: translateY(5px);
    filter: blur(1.5px);
  }

  50% {
    transform: translateY(0px);
    filter: blur(0);
  }

  100% {
    transform: translateY(5px);
    filter: blur(1.5px);
  }
}

.croatia {
  animation: bounce-blur12 8s ease-in-out infinite;
}

@keyframes bounce-blur12 {
  0% {
    transform: translateY(-5px);
    filter: blur(0);
  }

  50% {
    filter: blur(1.5px);
    transform: translateY(2px);
  }

  100% {
    filter: blur(0);
    transform: translateY(-5px);
  }
}

.greece {
  animation: bounce-blur13 8s ease-in-out infinite;
}

@keyframes bounce-blur13 {
  0% {
    transform: translateY(0);
    filter: blur(1.5px);
  }

  50% {
    transform: translateY(-5px);
    filter: blur(0);
  }

  100% {
    transform: translateY(0);
    filter: blur(1.5px);
  }
}

.turkey {
  animation: bounce-blur14 8s ease-in-out infinite;
}

@keyframes bounce-blur14 {
  0% {
    transform: translateY(-10px);
    filter: blur(1.5px);
  }

  50% {
    transform: translateY(7px);
    filter: blur(0);
  }

  100% {
    transform: translateY(-10px);
    filter: blur(1.5px);
  }
}

.georgia {
  animation: bounce-blur15 8s ease-in-out infinite;
}

@keyframes bounce-blur15 {
  0% {
    transform: translateY(0);

  }

  50% {
    transform: translateY(-10px);
    filter: blur(1.5px);
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

.india {
  animation: bounce-blur16 8s ease-in-out infinite;
}

@keyframes bounce-blur16 {
  0% {
    transform: translateY(0);

  }

  50% {
    transform: translateY(-5px);
    filter: blur(1.5px);
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

.thailand {
  animation: bounce-blur17 8s ease-in-out infinite;
}

@keyframes bounce-blur17 {
  0% {
    transform: translateY(0px);
    filter: blur(1.5px);
  }

  50% {
    transform: translateY(5px);
    filter: blur(0);
  }

  100% {
    transform: translateY(0px);
    filter: blur(1.5px);
  }
}


.malaysia {
  animation: bounce-blur18 8s ease-in-out infinite;
}

@keyframes bounce-blur18 {
  0% {
    transform: translateY(10px);
    filter: blur(1.5px);
  }

  50% {
    transform: translateY(-5px);
    filter: blur(0);
  }

  100% {
    transform: translateY(10px);
    filter: blur(1.5px);
  }
}

.australia {
  animation: bounce-blur19 8s ease-in-out infinite;
}

@keyframes bounce-blur19 {
  0% {
    transform: translateY(10px);

  }

  50% {
    transform: translateY(-5px);
    filter: blur(1.5px);
  }

  100% {
    transform: translateY(10px);
    filter: blur(0);
  }
}

.japan {
  animation: bounce-blur20 8s ease-in-out infinite;
}

@keyframes bounce-blur20 {
  0% {
    transform: translateY(0px);
    filter: blur(1.5px);
  }

  50% {
    transform: translateY(5px);
    filter: blur(0);
  }

  100% {
    transform: translateY(0px);
    filter: blur(1.5px);
  }
}

.hiw-section7 {
  background-image: url('../assets/images/hiw-bg.webp');
  background-size: cover;
}

.hiw-delaware {
  background-image: url('../assets/images/delaware.webp');
  background-size: cover;
}

.hiw-wyoming {
  background-image: url('../assets/images/Wyoming.webp');
  background-size: cover;
}

.rectangle {
  background-image: url('../assets/images/rectangle.webp');
  background-size: cover;
}

.circle {
  clip-path: ellipse(58% 100% at 50% 135%);
}

.circle-inverse {
  /* background-image: url('../assets/images/main-page/apostille-bg-earth.png');
  background-size: cover;
  z-index: -1;
  clip-path: ellipse(100% 155% at 50% 135%); */
  clip-path: ellipse(58% 75% at 50% 0%);
}

@media only screen and (max-width: 1024px) {
  .circle {
    clip-path: ellipse(65% 58% at 50% 135%);
  }
}

#root {
  overflow: hidden;
}


/* MEDIA QUERIES FOR Support Buisness Page */


@media (min-width: 64rem) {
  .after-formation {
    display: block;
    position: relative;
    margin-left: 15rem;
    width: calc(100% - 20px);
  }
}

.relative {
  position: relative;
}

.media-query {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.media-query-image {
  flex-shrink: 0;
}

.media-query-heading {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #222222;
  margin-bottom: 1.2rem;
}

.media-query-description {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #222222;
  flex: 1;
}

.media-query-button {
  position: absolute;
  bottom: 1rem;
  padding: 1rem;
  font-size: 1.1875rem;
  line-height: 1.625rem;
  font-weight: bold;
  color: #1649ff;
}

@media only screen and (min-width: 1125px)  and (max-width: 1366px) { 
  .after-formation {
    display: block;
    position: relative;
    margin-left: 15rem;
    width: calc(160% - 20px);
  }
}